<div class="container">

    <table class="table table-striped">
        <thead class="blue">
        <th>Task</th>
        <th>Start Date</th>
        <th>Estimate</th>
        <th>Estimated End Date</th>
        <th>Original End Date</th>
        <th>Deviation</th>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>John</td>
            <td>John</td>
            <td>John</td>
            <td>John</td>
            <td>Doe</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Mary</td>
            <td>Mary</td>
            <td>Mary</td>
            <td>Mary</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td>July</td>
            <td>July</td>
            <td>July</td>
            <td>July</td>
            <td>July</td>
            <td>Dooley</td>
        </tr>
        </tbody>

    </table>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label blue w16" for="task">Add Task</label>
            <div class="col-sm-9">
                <input class="form-control" id="task" type="text" placeholder="Type task and press Enter">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label blue w16" for="task">Start Date</label>
            <div class="col-sm-9">
                <input class="form-control" id="task" type="text" placeholder="Type task and press Enter">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label blue w16" for="task">End Date</label>
            <div class="col-sm-9">
                <input class="form-control" id="task" type="text" placeholder="Type task and press Enter">
            </div>
        </div>
    </form>
</div>