<div class="container">

    <table class="table table-striped">
        <thead class="blue">
        <th>Task</th>
        <th>Start Date</th>
        <th>Estimated End Date</th>
        <th>Original End Date</th>
        <th>Estimated Effort</th>
        <th>Deviation</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>{{task.name}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.estEndDate}}</td>
            <td><input type="text" ng-model="task.actEndDate" ng-change="updateEffort(task)"></td>
            <td>{{task.estEffort}}</td>
            <td>{{task.deviation}}</td>
            <td><a href="" ng-click="removeTask($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>

    </table>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label f15 blue w16" for="task">Add Task</label>
            <div class="col-sm-9">
                <input class="form-control phFont" id="task" type="text" ng-model="task.name" placeholder="Type task and press Enter">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label f15 blue w16" for="task">Start Date</label>
            <div class="col-sm-9">
                <input class="form-control phFont" id="stDate" type="text" ng-model="task.startDate" placeholder="Type task and press Enter">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label f15 blue w16" for="task">Estimated End Date</label>
            <div class="col-sm-9">
                <input class="form-control phFont" id="estDate" type="text" ng-model="task.estEndDate" placeholder="Type task and press Enter">
            </div>
        </div>
    </form>
    <div class="form-horizontal">
        <div class="col-sm-4">&nbsp;</div>
        <button type="button" class="btn btn-primary col-sm-4" ng-click="addTask(task)">Add Task</button>
        <div class="col-sm-4">&nbsp;</div>
    </div>

</div>